All Jobs for <strong><%= @company.name %></strong>
<ul>
<% @jobs.each do |job| %>
  <li><%= link_to job.title, edit_job_path(job) %> at <%= job.company.name %></li>
  <%= link_to "Edit", edit_job_path(job) %>
  <%= link_to "Delete", job_path(job), method: "delete" %>
<% end %>
</ul>
